.page {
    width: 100%;
    background-color: darkseagreen;
}

.page__container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.centered {
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__title {
    width: fit-content;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    font-weight: normal;
    line-height: 1.2;
    color: darksalmon;
}